*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("Bg-Img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.notes{
    /* background: olive; */
    width: 350px !important;
    height: 350px;
    margin: 10px;
    position: relative;
}

.btnwork{
    position: absolute;
    bottom: 6px;
    right: 3px;
}

.editBtn {
    right: 30px;
}